/* Base CSS */



.manu-area {
  background-color: #119071;
}
.header-manu1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-manu1 .language {
  border: 1px solid #007168;
  padding: 4px;
  border-radius: 10px;
}

.header-manu2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.header-manu2 {
  text-align: right;
}


.header-manu2 ad-post-btn {
  backgound-color: orange;
  color: red;
}
.header-manu2 .ad-post-btn {
  background-color: #FCCC6C;
  padding: 12px 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
}

.header-manu1 li {
  display: inline;
}

.header-manu2 li {
  display: inline;
}

.header-logo img {
  height: 45px;
  padding: 5px;
}

.header-manu1 li {
  line-height: 3.4;
  margin-left:20px;
}

.header-manu2 li {
  line-height: 3.4;
  margin-left:20px;
}


.header-manu1 a {
  color: white;
  text-decoration: none;
}

.header-manu2 a {
  color: white;
  text-decoration: none;
}

.header-manu2 .radius {
  border: 1px solid #04786A;
  padding: 5px 5px;
  border-radius: 100%;
}


.padding {
  padding-top: 100px;
}
.cities-divition-list {
  float: right;
}
.cities-divition-list li,a {
  text-align: right;
}
.cities-divition-list h1 {
 font-size:20px;
}
.cities-list h1 {
  text-align: right;
  font-size:20px;
}
.cities-divition-list a,ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.map {
  position: relative;
  top: 900%;
  left: 30%;
  
}

.bradcum-text h4 {
  font-weight: 700;
}
.bradcum-table {
  border: 1px solid #D4DED9;
  
}
.bradcum-manu-list li {
  display: inline-block;
  padding: 0 35px;
  margin-top: 80px;
}


.span1 {
  background-color: #FFED90;
  font-size: 10px;
  padding: 5px;
  color: #B4332B;
  margin: 5px;
  border: none;
  border-radius: 5px;
}
.span2 {
  background-color: #B4332B;
  padding: 5px;
  color: white;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.table-padding{
  margin-top: 150px;
}




.body-content {
  background-color: #E7EDEE;
  border-top: 1px solid #009877;
  border-bottom: 4px solid #009877;
  margin-top: 30px;
}


.tips-text {
  background-color: white;
  padding: 15px 19px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px;
}
.tips-socail {
  background-color: white;
  padding: 10px 10px;
height:70px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px;
}

.tips-socail p {
  padding: 12px;
}


.margin-left {
  margin-left: 8px;
}

.tips-text i {
  float: left;
  padding: 20px 20px;
  margin: 0;
}
.tips-text h6 {
  padding: 10px 0;
  margin: 0;
}
.tips-text p {
  margin: 0;
  font-size: 11px;
}


.bg {
  background-color: white;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 3px;
}
.content-item-list {
  text-align: center;
  margin-top: 10px;
}
.content-item-list p {
  text-align: justify;
}
.content-item-list p {
  padding: 10px;
  word-spacing:0.5px;
  font-size:12px;
  font-weight: 100;
}


.post_products {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.post_products a {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 4px;
}
.post_products p {
  margin-bottom: 40px;
}


.content-item-list h5 {
  font-size: 20px;
}
.content-item-list h5 {
  font-size: 20px;
  color: #4FB9EA;
}



.footer-socail h6 {
  margin-top: 50px;
}


.footer-padding {
  border-bottom: 1px solid #D4DED9;
  margin: 5px 0;
  padding: 30px 0;
}


.copy-write-text {
  padding: 0 10px;
}


.footer-manu-list h6 {
  font-weight: 700;
}
.footer-manu-list li {
  padding: 3px 0;
}
.footer-manu-padding {
  padding: 7px 0;
}